<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="nsAspur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nsAspur.Properties.Settings>
            <setting name="SAVING_DELAY" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="MaxErrCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ErrInt" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Refresh" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DISPLAYED_RECS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Amount" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>10000</value>
            </setting>            
            <setting name="IP_PLC" serializeAs="String">
                <value>192.168.45.13</value>
            </setting>
        </nsAspur.Properties.Settings>
    </userSettings>

                 <connectionStrings><add name="mopromanDBEntities" connectionString="metadata=res://*/mopromanMD.csdl|res://*/mopromanMD.ssdl|res://*/mopromanMD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=mopromanDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
